
table.transactions {
    font-size: small;
}


p.debit {
    font-style: italic;
    color: red;
}
td.matched {
}

td.unmatched {
    color: blue;
}

@media screen and (max-width: 768px) {
  .day {
    visibility: hidden;
    display:none;
  }
  .screentablet {
    visibility: hidden;
    display:none;
  }
}
input.regex_green {
    color:green;
}

input.regex_red {
    color:red;
}