/nb-configuration.xml
/nbactions.xml
/abk-backend/target/
/abk-client/bower_components/
/abk-client/docs/
/abk-client/node_modules/
/abk-client/coverage/
/abk-client/nbproject/
/abk-client/target/
/abk-client/dist/
/abk-client/.sonar/
/abk-client/.tmp/
/target/
/abk-accounts/target/