<div class="hero-unit">
    <h1>ANALYTISCH BOEKHOUDEN EN KOSTENCALCULATIE</h1>
    <p>Boekhouding is het systematisch vastleggen van financiële feiten van een persoon, een bedrijf of een (overheids)instelling.</p>
    <p>Het analytisch boekhouden of tegenboeken is een extra-comptabele verfijning bij het boeken van kosten en/of opbrengsten. Het voegt informatie toe aan de boekingen in termen van kostenplaatsen en kostensoorten.

        Het is extra-comptabel omdat het analytisch uitsplitsen de juistheid en de volledigheid van de boekhouding niet beïnvloedt. Het genereert alleen meer gedetailleerde informatie over de inhoud van de boekingen.</p>
    
    <p>
        Deze applicatie bestaat uit twee delen, client deel gebasseerd op agnularjs bootstrap en d3js en een backend deel wat middels een REST api de transactionele data ontsluit.
        <a href="http://localhost:8080/abk-backend/api-docs/" target="_blank">ABK backend API</a>
    </p>    
    <p>    
        <a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a>
        <a ng-if="showDebug" ng-click="aboutCtrl.debug()" class="btn btn-large">Debug Mode Off &raquo;</a>
        <a ng-if="!showDebug" ng-click="aboutCtrl.debug()" class="btn btn-large">Debug Mode On &raquo;</a>
    </p>
    
</div>



