<div class="hero-unit">
    <h1>ANALYTISCH BOEKHOUDEN EN KOSTENCALCULATIE</h1>
    <p>Match cost center regexp tegen een transactie omschrijving</p>
    <p>
        <input id="rname" name="matchCtrl.regexp" type="text" placeholder="RegExp" class="form-control" ng-model="matchCtrl.regexp">
        <input id="tname" name="matchCtrl.text" type="text" placeholder="Text" class="form-control" ng-model="matchCtrl.text">
    </p>
    <div class="btn-group">
        <button ng-click='matchCtrl.match()' class='btn btn-primary'> match </button>
    </div>    
</div>



